*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* projects */

.projects {
    width: 100%;
    padding: 3%;
}

.project .projectsHead  h2{
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    width: 100%;
    height: 50px;

}

.projectsHead{
    width: 100%;
    height: 100px;
}

.projectsMain {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projectsBox {
    position: relative;
    width: 23%;
}

.projectsText{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #000;
    color: #fff;
}

.projectsImg img {
    width: 100%;
}

/* about */

.about-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.about-container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.head-text {
    width: 100%;
    height: 70px;
}

.head-text h2{
    width: 100%;
    height: 50px;
    border-bottom:  1px solid rgba(128, 128, 128, 0.24);
}

.about-cart{
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.cart  {
    width: 23%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cart img{
    width: 100%;
    height: auto;
}

.cart button{
    width: 100%;
    height: auto;
    border: none;
    padding: 7px 0;
}

.cart button:hover {
    background-color: #ccc;
}

@media screen and (min-width:300px) and (max-width:661px) {
    .cart{
        width: 90%;
    }

    .projectsBox{
        width: 90%;

    }
}

@media screen and (min-width:662px) and (max-width:992px) {
    .cart{
        width: 45%;
    }

    .projectsBox{
        width: 45%;

    }
}